<div class="container border p-3 pb-5 text-center">
  <div class="logo">
    <h2>{{ "login.title" | translate | uppercase }}</h2>
  </div>

  <div class="sign-in-text">
    <p>{{ "login.info" | translate | titlecase }}</p>
  </div>

  <form
    class="mx-auto text-start"
    (ngSubmit)="onFormSubmit(refer)"
    #refer="ngForm"
    autocomplete="off"
  >
    <input
      type="text"
      placeholder="username"
      class="form-control"
      name="uname"
      ngModel
      required
      #uname="ngModel"
    />
    <small class="text-danger" *ngIf="!uname.valid && uname.touched">
      {{ "login.validUsername" | translate }}
    </small>

    <br />

    <input
      type="password"
      placeholder="password"
      class="form-control mt-2"
      name="pass"
      ngModel
      required
      #password="ngModel"
      autocomplete="off"
    />
    <small class="text-danger" *ngIf="!password.valid && password.touched">
      {{ "login.validEmail" | translate }}
    </small>

    <div class="check-data">
      <div class="check-box">
        <input
          type="checkbox"
          id="checked"
          name="checkData"
          ngModel
          #checkbox="ngModel"
          required
        />
        <label for="checked">{{ "login.remember" | translate }} (admin)</label>
      </div>

      <small *ngIf="checkbox.invalid && checkbox.touched" class="text-danger">{{
        "login.checked" | translate
      }}</small>
    </div>

    <div class="text-start mt-3">
      <button class="btn btn-primary px-4" type="submit">
        {{ "login.btn" | translate | uppercase }}
      </button>
    </div>
  </form>
</div>
