<div class="container border ps-3 pt-3 pe-2 pb-3">
  <div class="left-right">
    <div class="left">
      <div class="title">
        <h1 class="m-0">{{ "home.title" | translate }}</h1>
      </div>

      <div class="info-data">
        <p>
          {{ "home.para" | translate }}
        </p>
      </div>

      <div class="touch-btn">
        <button class="btn btn-primary px-4">
          {{ "home.btn" | translate }}
        </button>
      </div>
    </div>

    <div class="right">
      <div class="box rounded">
        <h3>{{ "home.figure" | translate }}</h3>
      </div>
    </div>
  </div>
</div>