<nav class="nav">
  <a
    href="#"
    class="nav-link"
    routerLink="/home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a 
  href="#" 
  class="nav-link"
  routerLink="/about"
  routerLinkActive="active"
  >About Us</a>
  <a 
  href="#" 
  class="nav-link"
  routerLink="/gallery"
  routerLinkActive="active"
  >Gallery</a>
  <a href="#" class="nav-link">Products</a>
  <a href="#" class="nav-link">Services</a>
  <a href="#" class="nav-link">Contact Us</a>
</nav>
